
 
<div class="col-md-6">
    <div>
        <h1>Customer List</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Phone Number</th>
                <th>Order Limit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of customers">
                <td >{{c.id}}</td>
                <td >{{c.firstName}}</td>
                <td >{{c.lastName}}</td>
                <td >{{c.address}}</td>
                <td >{{c.city}}</td>
                <td >{{c.phoneNumber}}</td>
                <td >{{c.orderLimit}}</td>
            </tr>
            
            </tbody>
        </table>
    </div>
</div>

